.form__entire {
    margin: 20px;
}

.form__part {
    border: 0px;
}

.form__info {
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    height: 26px;
    text-align: center;
    color:#AEAEAE;
}

.form__radios{
    display: flex;
    flex-direction: row;
}

.form__input {
    border-radius: 0;
}

.form__input:checked {
    background-color: #3F9BD1;
    color: #FFFFFF;
    border-radius: 0;
}

.form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #3F9BD1;
    margin: 10px 0;
}

.form__submit__button {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F3F8FC;
}

.form__submit__cancel {
    text-transform: capitalize;  
    font-size: 26px;
    font-weight: bold;
    color:#AEAEAE;
}