a {
    text-decoration: none;   
}

.home__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3F9BD1;
    color:#FFFFFF;
    margin-left: 0px;
    margin-right: 0px;
    height: 100px;
    text-decoration: none;
}

.home__add {
    display: inline;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
}

.hidden {
    display: none;
}